name: Java Maven CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Build using Maven Docker image
      - name: Build with Maven 3.9.6 + Eclipse Temurin 17
        uses: addnab/docker-run-action@v3
        with:
          image: maven:3.9.6-eclipse-temurin-17
          options: -v ${{ github.workspace }}:/workspace -w /workspace
          run: mvn clean install

